<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./assets/css/style.css">
  <title>PDF</title>
</head>
<body class="pdf">
<main class="pdf__pages">
  <header class="pdf__header header">
    <img src="https://vel.bl.is/uploads/_/originals/93.jpg" alt="" class="header__image">
    <div class="header__company-logo-wrapper">
      <img src="https://vel.bl.is/uploads/_/originals/renault.svg" alt="" class="header__company-logo">
    </div>
  </header>

  <section class="variations-short-data">
    <div class="variations-short-data__header">
      <h1 class="title variations-short-data__title">RENAULT CLIO V</h1>
      <p class="last-update">Verðlisti Maí 2020</p>
    </div>

    <table class="variations-short-data__table">
      <thead>
      <tr>
        <th>Tegund</th>
        <th>Stærð vélar</th>
        <th>Eldsneyti</th>
        <th>Hestöfl</th>
        <th>Skipting</th>
        <th>Drif</th>
        <th>Eyðsla/bl.*</th>
        <th>Verð</th>
        <th>90% lán*</th>
      </tr>
      </thead>

      <tr>
        <td>Clio Zen tce</td>
        <td>1500 cc</td>
        <td>Dísil</td>
        <td>110</td>
        <td>Beinsk.</td>
        <td>Framhjóladrif</td>
        <td>3,7L</td>
        <td>3.890.000 kr.</td>
        <td>54.779 kr.</td>
      </tr>

      <tr>
        <td>Clio Intens EDC</td>
        <td>1500 cc</td>
        <td>Dísil</td>
        <td>110</td>
        <td>Beinsk.</td>
        <td>Framhjóladrif</td>
        <td>3,7L</td>
        <td>3.890.000 kr.</td>
        <td>54.779 kr.</td>
      </tr>

      <tr>
        <td>Clien RS Line EDC</td>
        <td>1500 cc</td>
        <td>Dísil</td>
        <td>110</td>
        <td>Beinsk.</td>
        <td>Framhjóladrif</td>
        <td>3,7L</td>
        <td>3.890.000 kr.</td>
        <td>54.779 kr.</td>
      </tr>

    </table>
  </section>

  <footer class="pdf__footer footer">
    <div class="footer__logo">
      <img src="./assets/img/logo.svg" alt="" class="footer__logo-image">
    </div>
  </footer>
</main>
</body>
</html>
